/* Universal codes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Bakhriddin  */

/* Bakhriddin  */


/* Nafisa */

/* Nafisa */


/* Asadbek */

/* Asadbek */


/* Asqar */

/* Asqar */


/* Sherzodbek */

/* Sherzodbek */


/* Oybek */

/* Oybek */


/* Mahfuza */

/* Mahfuza */