/* Universal codes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Bakhriddin  */

/* Bakhriddin  */


/* Nafisa */

/* Nafisa */


/* Asadbek */

/* Asadbek */


/* Asqar */

/* Asqar */


/* Sherzodbek */
  .Sherzodbek {
    font-family: sans-serif;
    font-size: 18px;
    margin-left: 30px;
    margin-top: 10px;
  }

/* Sherzodbek */


/* Oybek */

/* Oybek */


/* Mahfuza */

/* Mahfuza */